/.gradle/
out/
/.idea/
build/
/integration-test-db/src/main/resources/adamd/target_version
gradle-plugin-test/.gradle/
gradle-plugin-test/gradle/
gradle-plugin-test/gradlew*
gradle.properties
local.properties
